{% extends 'base.html' %}
{% block content %}
<div class="min-h-screen bg-gray-900 flex items-center justify-center">
    <div class="bg-gray-400 p-8 rounded shadow-lg w-96 text-white">
        <h2 class="text-2xl font-bold mb-4">Set New Password</h2>
        <form class="text-black" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="w-full bg-green-600 hover:bg-green-700 text-white py-2 px-4 rounded">
                Save Password
            </button>
        </form>
    </div>
</div>
{% endblock %}
